* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fundo.jpg');
  background-size: 100vw 100vh;
  font-family: "Arial";
  height: 100vh;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.menu {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu ul li {
  list-style-type: none;
}

.menu ul li a {
  display: block;
  padding: 1.5rem;
  font-weight: bold;
  color: #000;
}

.menu ul li a:hover {
  text-decoration: underline;
}

.site-title,
.site-subtitle {
  text-align: center;
  color: #ddd;
}

.site-subtitle {
  font-style: italic;
}

.img-portfolio {
  width: 250px;
  height: 250px;
}